/* --- Variables de Color (Tema Alianza Lima) --- */
:root {
  --alianza-blue: #003366; /* Azul oscuro principal */
  --alianza-blue-light: #0d47a1; /* Azul más claro para hover */
  --alianza-white: #FFFFFF;
  --alianza-gray: #f8f9fa; /* Fondo claro */
}